.edit-content {
  height: 75vh;
  position: relative;
}

.edit-content .error-message {
  width: 33%;
  position: absolute;
  right: 0;
}

.edit-content .btn {
  bottom: 1.5rem;
}

.edit-content form {
  height: 100%;
}

.edit-content form label,
.edit-content form input {
  width: 33%;
}

