.edit-content {
    height: 75vh;
    position: relative;

    .error-message {
        width: calc((33/100) * 100%);
        position: absolute;
        right: 0;
    }

    .btn {
        bottom: 1.5rem;
    }

    form {
        height: 100%;

        label,
        input {
            width: 33%;
        }
    }

}
